@import './reset.css';

:root{
	--color-principal: #fffffe;
	--color-secondary: #eff0f3;
	--headline: #272343;

	--color-post: #fafafa;
	--color-hover: #f4f4f5;
	--color-hover-two: #e4e4e7;
	--color-black: #27272a;
	--color-button-dropdown-red: #dc2626;
	--color-titles: #222222;
	--color-text: #222525;
}

@font-face {
	font-family: 'Urbanist';
  src: url('/fonts/UrbanistFont/static/Urbanist-Light.ttf') format('truetype');
}

html{
	font-size: 10px;
}

body{
	height: auto;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.5rem; /* 15px */
	background-color: var(--color-background);
	color: var(--color-text);
}

h1, h2, h3, h4, h5, h6{
	color: var(--color-titles);
}

h1 {
  font-size: xx-large;
	font-weight:bolder;
}

h2{
	font-size: x-large;
	font-weight: bold;
}

h3 {
	font-size: large;
	font-weight: normal;
}