.container {
	display: grid;
	grid-template-areas: "aside main";
	grid-template-columns: 15% 85%;
}

.container__aside {
	grid-area: aside;
}

.container__main {
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
}
