.register__container {
	display: flex;
	flex: row;
	margin: 0 auto;
}

.register {
	padding-left: 16rem;
	margin-top: 2rem;
	width: 90rem;
}

.register__photo {
	height: 75rem;
	width: 42rem;
}

.register__title {
	margin-bottom: 2rem;
}

.register__form {
	display: flex;
	flex-direction: column;
}

.register__input {
	padding: 1.6rem;
	margin-bottom: 2.5rem;
}

.register__label{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	font-size: large;
	font-weight:bold;
}

.register__remember {
	display: flex;
}

.remember__label {
	margin-left: 1rem;
}

.register__button {
	margin-top: 3rem;
	height: 5rem;
}

.register__register {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	justify-content: center;
}
